body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #1a1a1a;
  padding: 36px 72px 80px;
}

* {
  margin: 0;
  padding: 0;
  color: #fff;
  font-size: 12px;
  font-weight: 400;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

.header {
  margin-bottom: 40px;
}

.tabs {
  gap: 14px;
  display: flex;
  margin-bottom: 32px;
  padding-bottom: 10px;
  border-bottom: 1px solid #333333;

  li {
    color: #b2b2b2;
    cursor: pointer;
    list-style: none;
    padding: 8px 12px;
  }
}

.current-tab {
  border-radius: 12px;
  color: #fff !important;
  border: 2px solid #4ef09d;
}

.hidden {
  display: none;
}

.lds-hourglass {
  width: 80px;
  height: 80px;
  position: relative;
  display: inline-block;
}
.lds-hourglass:after {
  content: " ";
  width: 0;
  height: 0;
  margin: 8px;
  display: block;
  border-radius: 50%;
  box-sizing: border-box;
  border: 32px solid currentColor;
  animation: lds-hourglass 1.2s infinite;
  border-color: currentColor transparent currentColor transparent;
}
@keyframes lds-hourglass {
  0% {
    transform: rotate(0);
    animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
  }
  50% {
    transform: rotate(900deg);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  100% {
    transform: rotate(1800deg);
  }
}

.table-header {
  text-align: start;
  padding-bottom: 20px;
  padding-left: 100px;
}

.cryptocurrency_name_style {
  gap: 10px;
  display: flex;
  align-items: center;

  div {
    gap: 10px;
    display: flex;
    flex-direction: column;
  }
}

.table-rows {
  text-align: right;
  padding-left: 100px;
  padding-bottom: 20px;
}
